<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1,h2{
            color: black
        }
        .creators {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

    </style>
</head>


<body >
    <h2 style="margin-top: 34px;">Recommendated Creaters</h2>
    <div class="creators">
<!-- <%= data %> -->
    <% entries = data.map(function(elem) {
        %> <span><img src="/images/<%= elem.username %>.jpg"  width="750" height="400" style="margin-top: 14px; margin-left: 20px; border-radius: 35px; " /> <p> <%= elem.pic %> </p> <h2> <u><%= elem.username %></u> </h2><u></u></h2><span> <%= elem.profession %></span></span><%
    }) %>
     <!-- {this.state.data.map((item)=><h1>{item.username}</h1>)} -->
    </div>
</body>
</html>